.tech{
    display: flex;
    margin-top: 6rem;
    margin-left: 3rem;
    height: 20rem;
}
.t-left{
    display: flex;
    flex-direction: column;
    flex: 4;
    position: relative;
}
.t-left>:nth-child(1)
{
 font-size: 2.5rem;
 color: var(--black);
 font-weight: bold;
 
}
.t-left>:nth-child(2)
{
 font-size: 2.5rem;
 color: var(--orange);
 font-weight: bold;
}
.t-left>:nth-child(3)
{
 position: absolute;
 top: 4rem;
 left: 0rem;

}
.right{
    flex: 4;
    position: relative;
}
.main-right{
    left: 4rem;
    position: relative;
    background: white;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow) ;
    z-index: 10;
    animation: rotate360 10s linear infinite;
}
.main-right>*{
    position: absolute;
}
.main-right>:nth-child(1)
{
    top: 11rem;
    left: 1rem;
   
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
   box-shadow: var(--smboxShadow) ;
   animation: rotate360 4s linear infinite;
   
}
.main-right>:nth-child(5)
{
    top: 0rem;
    left: 10.25rem;
   border-radius: 50%;
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
   box-shadow: var(--smboxShadow) ;
   animation: rotate360 4s linear infinite;
   
}
.main-right>:nth-child(2)
{
    top: 2.5rem;
    left: 2.5rem;
   height: 10rem;
   width: 10rem;
   display: flex;
 justify-content: center;
 align-items: center;
    border-radius: 50%;
   background-color: var(--orange);
   box-shadow: var(--smboxShadow) ;
   animation: rotate360 4s linear infinite;
   
}
.main-right>:nth-child(3)
{
    top: 0rem;
    left: 1rem;
   
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
   box-shadow: var(--smboxShadow) ;
   animation: rotate360 4s linear infinite;
   
}
.main-right>:nth-child(4)
{
    top: 11rem;
    left: 10.25rem;
   
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
   box-shadow: var(--smboxShadow) ;
   animation: rotate360 4s linear infinite;
   
}
.blue{
    position: absolute;
    background-color: rgb(103, 103, 248);
    top: -2rem;
    left: 7rem;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    z-index: 1;
}
.yellow{
    position: absolute;
    background-color: var(--orange);
    top: 5rem;
    left: 7rem;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    z-index: 2;
}
@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
